:root {
  // radius
  --radius: 0.25em; // border radius base size
}



/* HELPERS */
.helper__rotate180 {
  transform: rotate(180deg);
}

.toestand-bg--purple {
  background-color: #DBD3DD !important;
}

.toestand-bg--white {
  background-color: hsl(253, 100%, 89.2%);
}

.toestand-bg--orange {
  background-color: #d2634e;
}
