// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/typography

// --------------------------------


@font-face {
  font-family: 'mediumFont';
  src: url('../fonts/swiss_721_medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/swiss_721_medium-webfont.woff2') format('woff2'),
    url('../fonts/swiss_721_medium-webfont.woff') format('woff'),
    url('../fonts/swiss_721_medium-webfont.ttf') format('truetype'),
    url('../fonts/swiss_721_medium-webfont.svg#swiss_721medium') format('svg');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  // font-family: 'swis721_win95btroman';
  // src: url('../fonts/swiss_721_win95bt-webfont.eot?#iefix')
  //     format('embedded-opentype'),
  //   url('../fonts/swiss_721_win95bt-webfont.woff2') format('woff2'),
  //   url('../fonts/swiss_721_win95bt-webfont.woff') format('woff'),
  //   url('../fonts/swiss_721_win95bt-webfont.ttf') format('truetype'),
  //   url('../fonts/swiss_721_win95bt-webfont.svg#swis721_win95btroman')
  //     format('svg');
  // font-style: normal;
  // font-weight: normal;

  font-family: "smallFont";
  src: url("../fonts/swiss_721_win95bt-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/swiss_721_win95bt-webfont.woff2") format("woff2"),
    url("../fonts/swiss_721_win95bt-webfont.woff") format("woff"),
    url("../fonts/swiss_721_win95bt-webfont.ttf") format("truetype"),
    url("../fonts/swiss_721_win95bt-webfont.svg#swis721_win95btroman")
      format("svg");
  font-style: normal;
  font-weight: 400;
}


:root {
  // font family
  --font-primary: smallFont;
  --font-secondary: mediumFont;

  // body font size
  --text-base-size: .8em;
  
  // type scale
  --text-scale-ratio: 1;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.5;
  --heading-line-height: 1.9;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
  --font-secondary-capital-letter: 1;
}

@supports(--css: variables) {
  :root {
    @include breakpoint(sm) {
      --text-base-size: 1em;
      --text-scale-ratio: 1.4;
    }
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-secondary);
}

//font family
.font-primary { font-family: var(--font-primary);}
.font-secondary { font-family: var(--font-secondary);}

// --------------------------------

// (END) Global Editor Code

// --------------------------------

// link style
a, .link {}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  hr {
    background: var(--color-contrast-low);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-vspace-multiplier: 1.2; // increase vertical spacing
}


h1 {
  @media (max-width: 1023px) {
    font-size: 2em !important;
    text-align: left;
  }
}


h2 {
  font-size: var(--text-md);
  @media (max-width: 1023px) {
    font-size: 1.6em;
  }
}

h3 {
  font-size: var(--text-md);
}

h4 {
  font-size: var(--text-base);
  font-weight: bold;
}

i {
  font-style: italic;
}