<article class="toestand-article--two grid col-6@md col-6@lg margin-bottom-md">
  {{ assets:article:thumb }}
    <a href="{{ article:url }}" class="story__img col-5 col-7@lg col-5@sm col-12@xs col-12">
      <figure class="media-wrapper story__imgWrapper ">
        <img src="{{ glide src='{url}' height='400'  width='auto' }} " >
      </figure>
    </a>

  {{ /assets:article:thumb }}
  <div class=" padding-x-sm has-padding@sm col-5 col-5@lg col-7@sm col-12@xs col-12">
    <div class="story-v2__meta">
      <time datetime="{{ published_on | iso_format('ll')}}">{{ published_on | iso_format('MMMM Do YYYY')}}</time>
    </div>
    <div class="margin-bottom-xs">
      {{ relate:connections }}
        <a href="{{ url }}" class="story__category margin-y-xxs">
          <i>{{ title }}</i>
        </a>
      {{ /relate:connections }}
    </div>
    <div class="text-component">
      <h3 class="story-v2__headline ">
        <a href="{{ article:url }}">
          {{ article:title }}
        </a>
      </h3>
      <p class="story-v2__excerpt">
        {{ if article:descr }}
        {{ article:descr }}
      {{ else }}
        {{ article:content_bard }}
          {{ if type == "text" }}
            {{ text | safe_truncate:180:...  }}
          {{ /if }}
        {{ /article:content_bard }}
      {{ /if }}
      </p>
      <div>
        <a style="display:inline-flex" class="toestand-buttons__button padding-x-xs padding-y-xxs" href="{{ url | dashify }}">
          {{ translations:text:readmore }}
        </a>
      </div>
    </div>
  </div>
</article>
