<section id="{{ title | dashify}}" class="toestand-section toestand-bg--purple padding-top-md">
  {{ if show_title }}    
    <h2 class="toestand-section__header padding-bottom-sm">
      {{ title }}
    </h2>
  {{ /if }}
  <div id="weeklyCalVueApp" class="toestand-calendar--weekly" data-lang="{{locale}}" data-cal="{{ slug }}">
    <swiper  :options="swiperOption" @reach-end="loadEvents(true, 'asc', lastEventDoc)" @reach-beginning="loadEvents(true, 'desc', firstEventDoc)">
      
      <swiper-slide v-for="e in events" class="toestand-weekly__listItem col-3 col-3@lg col-4@sm col-4@xs col-4@xxs col-4@xxxs col-6 padding-x-sm" :key="e.id">
        <article class="story" :id="e.id">
          <!-- @{{ e }} -->
          <span class=" text-md" >@{{ localizeDate(e.startDateToCompare) }}</span> | <span>@{{ e.beginTime }} - @{{ e.endTime }}</span>
          <div class="margin-bottom-xxs story__category">
            <i>@{{ e.calendar }} </i>
          </div>
          <a :href="'/kalender?id=' + e.id" class="story__img margin-top-xs" style="border-radius:0">
        <div :href="'/kalender?id=' + e.id" class="story__img margin-top-xs" style="border-radius:0">
            <figure class="media-wrapper media-wrapper--1:1">
              <img style="border-radius:0" :src="e.image" alt="Image description" class="lazyload">
            </figure>
          </div>
            </a>
          <div class="story__content toestand-weekly__content">                        
            <div class="text-component">
              <h2 class="story__title text-md "><a :href="'/kalender?id=' + e.id" v-if="e.title" v-html="e.title[lang]"></a></h2>
            </div>
            <div v-if="e.intro"class="margin-top-sm text-component toestand-weekly__description" v-html="e.intro[lang]"></div>
            <div class="toestand-weekly__fade"></div>
          </div>
          <div class="margin-top-sm">
            {{ e }}
<!--            <a :href="'/kalender?id=' + e.id" class="toestand-buttons__button padding-x-xs padding-y-xxs">Lees meer</a>-->

          </div>
        </article>
      </swiper-slide>
  
      <div class="swiper-button-prev display@sm toestand-bg--purple" slot="button-prev" ></div>
      <div class="swiper-button-next display@sm toestand-bg--purple" slot="button-next"></div>
      <div class="swiper-scrollbar" slot="scrollbar"></div>

    </swiper>
    {{ if buttons }}
    {{ partial src="section__buttonsBottom"}}
  {{ /if}}
  </div>
  {{ if text__bottom }}
    {{ partial src="section__textBottom"}}
  {{ /if }}
  
 
</div>

</section>