<section id="{{ title | dashify}}" class="toestand-section article-gallery padding-bottom-md">
  {{ if show_title }}    
    <h2 class="toestand-section__header padding-bottom-sm">
      {{ title }}
    </h2>
  {{ /if }}
  
  {{ if items | count == 1 }} 
    {{ items }}
      <p class="padding-md text-component">
        {{ mission__text }}
      </p>
    {{ /items }}
  {{ else }}
    <div class="vue-carouselApp ">
      <swiper :options="swiperOptionMission">
        {{ items }}
          <swiper-slide class="padding-right-md padding-bottom-md col-3 col-3@lg col-4@sm col-6@xs col-6@xxs col-6@xxxs col-8">
            <h4 class="">{{ mission__language }}</h4>
            <div class="" @click="clickText('{{ mission__text }}')">{{ mission__text }}</div>
          </swiper-slide>
        {{ /items }}
        <div
          class="swiper-button-prev display@sm "
          slot="button-prev"
        ></div>
        <div
          class="swiper-button-next display@sm "
          slot="button-next"
        ></div>
        <div
          class="swiper-scrollbar"
          slot="scrollbar"
        ></div>
      </swiper>
    </div>
  {{ /if }}
  
  {{ if text__bottom }}
    {{ partial src="section__textBottom"}}
  {{ /if }}
  
  {{ if buttons }}
    {{ partial src="section__buttonsBottom"}}
  {{ /if}}
  
</section>