<section id="{{ title | dashify}}" class="toestand-section article-gallery padding-bottom-xl">
  {{ if show_title }}
  <h2 class="toestand-section__header padding-bottom-sm">
      {{ title }}
    </h2>
  {{ /if }}
  <div class="parent grid grid-gap-md toestand-section__content">
    {{ collection from="news" scope="article" sort="published_on:desc"}}
      {{ if page:fieldset == 'home' }}
        {{ if article:live == 1 && article:show_home == 1 }}
          {{ partial:article_inList}}
        {{ /if }}
      {{ else }}
        {{ article:connections }}
          {{ if article:live == 1 }}
            {{ if page:id == value}}
              {{ partial:article_inList}}
            {{ /if }}
          {{ /if }}
        {{ /article:connections }}
      {{ /if }}
    {{ /collection }}
  </div>
</section>
