{{ get_content from="/" }}
<footer class="footer-v5 margin-top-xl">
  <div class="toestand-footer__partners ">
    <div class="container padding-y-lg max-width-md text-component grid parent justify-center">
      {{ partners }}
        <a class="col-2 padding-sm" href="{{ url }}" target="_blank">
          <img style="height:auto" src="{{ logo }}" alt="{{ name }}">
        </a>
      {{ /partners }}
    </div>

  </div>
    <div class="toestand-footer__content padding-y-lg">
      <div class="container max-width-xl  grid parent text-component ">
      
        <div class="col-4@lg col-12@sm col-4@md  padding-bottom-md">
          {{ address__street }} {{ address__number }}
          <br>{{ address__zip }} {{ address__city }}
          <br>{{ extra }}
        </div>
        <div class="col-4@lg col-12@sm col-4@md container grid parent">
          {{ footer_content }}      
        </div>
        <div class="col-4@lg col-12@sm col-4@md container grid parent">
          <div class="toestand-social--footer">
            {{ partial:socials}}
            <div class="margin-y-md"></div>
            {{ partial:newsletter_button }}
          </div>          
        </div>
      </div>
      
    </div>

  </footer>
  {{ /get_content }}