

<div class="modal js-modal" id="modalForm1" data-animation="on">
  <div class="modal__content padding-md max-width-xs" role="alertdialog" tabindex="-1" aria-labelledby="modalFormTitle1" aria-describedby="modalFormDescription1">
    <div class="text-component margin-bottom-md">
      <h3 id="modalFormTitle1">Join our Newsletter</h3>
      <p id="modalFormDescription1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit asperiores molestiae ex.</p>
    </div>

    <form class="margin-bottom-sm">
      <div class="flex flex-column flex-row@xs flex-gap-xxxs">
        <input aria-label="Email" class="form-control flex-grow" type="email" placeholder="Email">
        <button class="btn btn--primary">Subscribe</button>
      </div>
    </form>

    <div class="text-component">
      <p class="text-xs color-contrast-medium">Lorem ipsum dolor sit, amet <a href="#0" class="color-contrast-high">consectetur adipisicing</a> elit. Nisi molestias hic voluptatibus.</p>
    </div>
  </div>

  <button class="reset modal__close-btn js-modal__close">
    <svg class="icon" viewBox="0 0 16 16"><title>Close modal window</title><g stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
  </button>
</div>
