<section id="{{ title | dashify}}" class="toestand-section toestand-pages">
  {{ if show_title }}    
    <h2 class="toestand-section__header padding-bottom-sm">
      {{ title }}
    </h2>
  {{ /if }}

  <div class="container toestand-section__content parent grid grid-gap-lg">
    {{ relate:pages }}
      <div class=" col-12@xs col-6@sm col-6@md col-4@lg toestand-pages__item">
        <a href="{{ url }}">
          <figure>
            {{ if thumbnail}}
              <img src="{{ glide:thumbnail height=" 400 " width="auto " }} " class="lazyload" />
            {{ elseif main__image }}
              <img src="{{ glide:main__image height=" 400 " width="auto " }} " class="lazyload" />
            {{ /if }}
          </figure>
        </a>
      </div>
    {{ /relate:pages }}
  </div>
</section>