.toestand-calendar {
  .mainCalendar__buttonsContainer--fixed {
    // position: fixed;
    background: var(--color-white);
    z-index: 100;
    width: 100%;
    top: 2rem;
  } 
  
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
  
  .subnav {
    background-color: unset;
    &__list {
      // overflow: unset;
    }
    &__container {
      &:after {
        background: none;
      }
    }
  }
  &__button { 
    &--project {
      background-color: #ffffff;
    }
  }
  &__month {
    &--active {
      background-color: var(--color-accent);    
    }
    &:hover {
      a {
        // background-color: var(--color-accent-);    
      }
    }
  }


}