.toestand-calendar--weekly {
  .swiper-container {
    width: 100%;
  }
  .toestand-weekly {
    &__listItem {
      border-right: 1px #000 solid;
      position: relative;
      article {
        flex-direction: column;
        justify-content: space-between;
        
        .story__content {
          min-height: 10rem;
        }
      }
    }
    &__listItem:first-of-type {
      padding-left: 0;
    }
    &-swiper__innerwrapper {
      padding-right: 1rem;
      padding-bottom: 4rem;
    }

    &__description {
      height: 10rem;
      overflow: hidden;
    }

    &__fade {
      position: relative;
      height: 3rem;
      background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #dbd3dd 100%);
      top: -3rem;
    }
  }

  .story__category {
    border-radius: 0;
  }

  article {
    height: 100%;
  }
}
