.toestand {
  &-images {
    .swiper-slide {
      width: auto !important;
    }
    img {
      width: auto;
    }
    &__popup {
      display: none;
      position: fixed;
      height:100%;
      width:100%;
      top:0;
      left:0;
      z-index: 10000; 
      align-items: center;
      justify-content: center; 
      &--active {
        display: flex;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}