.toestand {
  &-section {
    background-color: var(--color-white);
    &--border {
      border-bottom: 1px solid var(--color-black);
      &:before {
        content: "";
        display: block;
        width: calc(100vw - 6vw );
        position: absolute;
        background-color: var(--color-black);
        margin-left: $section-margin;
        height: 2px;
        bottom: 0;
      }
    }
    
    &__header {  
      padding-left: $section-margin;
    }
    &__content {
      margin:0;
      padding-left:$section-margin;
      padding-right:$section-margin;
    }
    .swiper-wrapper {
      margin:0;
      padding-left:$section-margin;
      padding-right:$section-margin;
    }
    @media (max-width: 1023px) {

    }
    .toestand-buttons {
      position: relative;
      top: -4rem;
      left: 3vw;
      width: calc(100vw - 3vw);
    }
  }
  button {
    border: 1px var(--color-black) solid;
    padding: 1rem;
  }
}