/* -------------------------------- 

File#: _1_custom-select
Title: Custom Select
Descr: Custom Select Control
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --select-icon-size: 1em;
  --select-icon-right-margin: var(--space-sm);
}

.select {
  display: inline-block;
  position: relative;

  select {
    height: 100%;
    width: 100%;
    padding-right: calc(var(--select-icon-size) + var(--select-icon-right-margin) * 2);
  }

  .icon {
    width: var(--select-icon-size);
    height: var(--select-icon-size);
    position: absolute;
    right: var(--select-icon-right-margin);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}