/* -------------------------------- 

File#: _2_feature-v3
Title: Feature v3
Descr: Content group containing text + media element that outsets its container at a specific viewport size
Usage: codyhouse.co/license

-------------------------------- */

@each $mq in 'sm' 'md' 'lg' { // define the feature--media-outset@{mq} style at different media queries
  .feature--media-outset\@#{$mq} {
    overflow: hidden;
  }

  @include breakpoint(#{$mq}) {
    .feature--media-outset\@#{$mq} .feature__grid {
      align-items: stretch;
    }

    .feature--media-outset\@#{$mq} .feature__item--media {
      position: relative;
      height: 100%;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: none;
        width: auto;
      }
    }
  }

  // --invert -> invert order of feature items at specific breakpoints
  @include breakpoint(#{$mq}) {
    .feature--media-outset\@#{$mq}.feature--invert\@#{$mq} .feature__grid > *:last-child .feature__item--media {
      > * {
        left: auto;
        right: 0
      }
    }
  }

  // auto-invert features in a grid
  @include breakpoint(sm) {
    .feature-group--auto-invert\@#{$mq} {
      .feature--media-outset\@#{$mq}:nth-child(2n) {
        .feature__grid > *:last-child .feature__item--media {
          > * {
            left: auto;
            right: 0
          }
        }
      }
    }
  }
}