/* -------------------------------- 

File#: _2_table-of-contents
Title: Table of Contents
Descr: A navigation with a list of links to the main sections of the page 
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --toc-border-width: 1px;
}

.toc {
  // reset spacing and text units - no longer affected by em units
  @include spaceUnit(1rem);
  @include textUnit(1rem);
  border-left: var(--toc-border-width) solid var(--color-contrast-low);
}

.toc--sticky {
  position: sticky;
  top: var(--space-md);
}

.toc__list {
  position: relative;

  .toc__list .toc__link {
    padding-left: calc(var(--space-sm) * 2); // offset sub nav
  }
}

.toc__link,
.toc__item--label {
  padding: var(--space-xxxs) var(--space-sm);
}

.toc__link {
  position: relative;
  display: block;
  color: var(--color-contrast-medium);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: calc(var(--toc-border-width) * -1);

  &::before { // left mark
    content: '';
    width: var(--toc-border-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    color: var(--color-contrast-high);
  }
}

.toc__link--selected {
  color: var(--color-primary);

  &::before {
    background-color: var(--color-primary);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.toc__item--label { // label style
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: var(--text-sm);
}

.toc-content {
  *:target {
    animation: toc-target 2s; // highlight section on target
  }
}

@keyframes toc-target {
  0%, 50% {
    outline: 2px solid alpha(var(--color-primary), 0.5);
  }

  100% {
    outline: 2px solid alpha(var(--color-primary), 0);
  }
}