<!-- {{ partial:topbar__container }} -->


<div id="calApp" class="toestand-calendar container max-width-adaptive-lg" data-lang="{{locale}}">
    <div v-observe-visibility="(isVisible, entry)=> pinCalNav(isVisible)"></div>
    
  <div class="" :class="calNavVisible ? '':'mainCalendar__buttonsContainer--fixed' ">
      <div class="subnav margin-bottom-sm margin-top-lg">
        <div class="subnav__container max-width-lg">
          <div class="flex justify-start">
            <button v-for="(c, id) in calendars" :key="id" class="subnav__item  btn btn--white toestand-calendar__button--project btn--sm margin-right-sm" v-on:click="getEventsByCalendar(c)" :class="{ 'toestand-calendar__button--active': c.active}">@{{ c.title }}</button>
          </div>
        </div>
      </div> 
      
      
      <div class="subnav " >
        <div class="subnav__container max-width-lg">
          <div class="flex justify-start">
            <ul class="subnav__list margin-bottom-md">
              <li v-for="(m,i) in months" :key="i" class="subnav__item margin-right-sm toestand-calendar__month"> <button @click="loadEventsOfMonth(m)" class=" btn btn--white padding-bottom-xs padding-top-xxs padding-x-xxs" :class="checkActiveMonth(m)">@{{ m }} </button></li>
            </ul>
          </div>
        </div>
      </div>
  

  
</div>
  <!-- <button class="toestand-buttons__button" @click="loadEvents('true', 'desc', firstEventDoc, activeCal)">Load older events</button> -->
  <!-- <button class="toestand-buttons__button" @click="searchEvents()">Search</button> -->
    <div class="articles-v3">
      
      <ul>
        <div>
          <transition-group name="list" tag="div">
            <li v-for="(e, i) in eventsWithMonths " class="items-start padding-y-sm margin-y-sm  border-bottom " style="border-bottom-color: black;" :key="e.id" :id="e.id"  v-observe-visibility="(isVisible, entry)=> setTopEvent(isVisible, e)">
              <div v-if="e.firstOfMonth " :id="months[(e.month *1 -1)] " v-observe-visibility="(isVisible, entry)=> visibilityChanged(isVisible, entry, e.month)">
                {{# @{{months[(e.month *1 -1)]}} #}}
              </div>
                    
              <div class="col-6@md col-7@xl">
                <div class="text-component">
                      <div class="margin-bottom-xs">
                        <span class="text-md">@{{ localizeDate(e.startDateToCompare) }}</span> | <span class="">@{{ e.beginTime }} - @{{ e.endTime }}</span>
                        <div style="border-radius:0" class="margin-top-xxs story__category">
                            <i >@{{ e.calendar }}</i>
                          </div>
                      </div>
                      

                      
                  <h2 v-if="e.title" class="articles-v3__headline color-primary">@{{ e.title[lang] }}</h2>
                  <p v-if="e.intro" v-html="e.intro[lang]"></p>
                  
                  <p v-if="e.description" v-html="e.description[lang]"></p>
                </div>
                  
          
              </div>
              <div href="#0" class="articles-v3__img col-6@md col-5@xl ">
                <figure class="media-wrapper media-wrapper--1:1">
                  <img :src="e.image">
                </figure>
              </div>            
            </li>
          </transition-group>
          <div id="endOfCal" v-observe-visibility="(isVisible, entry)=> loadEvents(isVisible, 'asc', lastEventDoc, activeCal)"></div>
        </div>
      </ul>
    </div>

    </div>
</div>