
  <style>
  .toestand-map {
    min-height: 400px;
    height: 50vh;
    /* background-color: red */
  }
  #map {
    width:100%;
    height: 100%;
    min-height: 40vh;
  }
  #features {
  width: 50%;
  overflow-y: scroll
  
  }

</style>
<!-- <div class="max-width-lg container">
<h2>Locaties</h2>
</div> -->
<div class="toestand-contact">
    {{ partial:topbar__container }}

  <div class="parent grid grid-gap-md padding-top-md toestand-contact__content">
    <div class="col-6 padding-bottom-md">
      <div id='map'></div>
    </div>
    <div class="col-6 padding-bottom-md text-component toestand-contact__item" onclick="setActiveChapter('{{title | dashify}}')">
      {{ get_content from="/" }}
        <h2 class=""> {{ title }}</h2>
        {{ address__street }} {{ address__number }}
        <br>{{ address__zip }} {{ address__city }}
        <br>{{ extra }}
        <div>
            <h3>{{ translations:text:contacts }}</h3>
            {{ contacts}}
              <li >
                <h4>{{ role }}</h4>
                {{details}}
              </li>
            {{ /contacts}}
          </div>
      {{ /get_content }}
    </div>

  
    {{ nav from="/projecten" max_depth="2" }}
      {{ if fieldset == 'page_project' }}
        <div class="col-4 text-component toestand-contact__item" onclick="setActiveChapter('{{title | dashify}}')">
          <h2>{{ title }}</h2>
          {{ address__street }} {{ address__number }}
          <br>{{ address__zip }} {{ address__city }}
          <br>{{ extra }}
          {{ if contacts}}
            <div>
              <h3>Contactpersonen</h3>
              {{ contacts}}
                <li >
                  <h4>{{ role }}</h4>
                  {{details}}
                </li>
              {{ /contacts}}
            </div>
          {{ /if }}
        </div>
      {{ /if }}
    {{ /nav}}
  </div>
</div>



  